.scroll-down {
	text-align: center;
	color: var(--c-white);
	text-transform: uppercase;
	font-family: 'Open Sans', bold;
	display: flex;
	min-height: 60px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
	position: relative;
}

.scroll-down:before {
	content: "";
	width: 23px;
	height: 2px;
	background-color: var(--c-white);
	position: absolute;
	bottom: 27px;
}

.scroll-down:after {
	content: "";
	width: 15px;
	height: 15px;
	background-color: transparent;
	border-left: 2px solid var(--c-white);
	border-bottom: 2px solid var(--c-white);
	transform: rotate(-45deg);
}