section {
	display: flex;
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section.-hero {
	flex-direction: column;
	justify-content: space-between;
	background-image: url(../img/hero-bg.jpg);
}

.section.-about {
	background-image: url(../img/about-bg.jpg);
}

.section.-features {
	background-image: url(../img/features-bg.jpg);
}

.section.-system {
	background-image: url(../img/system-bg.jpg);
	padding: 40px 0 0 0;
}

.section.-quotes {
	background-image: url(../img/quotes-bg.jpg);
}

.section.-subscribe {
	background-image: url(../img/sub-bg.jpg);
}