.slider__item {
	max-width: 400px;
	max-height: 550px;
	position: absolute;
	bottom: -255px;
}

.slider {
	position: relative;
	min-width: 400px;
}

.slider__item.-f {
	z-index: 3;
}

.slider__item.-s {
	z-index: 2;
	right: -45px;
	max-height: 450px;
	bottom: -240px;
}

.slider__item.-t {
	z-index: 1;
	right: -40px;
	max-height: 400px;
	bottom: -220px;
}

.control {
	width: 12px;
	height: 15px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid var(--c-white);
	transition: .2s;
}

.control:hover {
	background-color: var(--c-white);
	transition: .2s;

}

.slider__control {
	min-width: 200px;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: -230px;
	left: 50%;
	transform: translate(-50%, -50%)
}