.slider {
	min-width: 600px;
}

.slider__item {
	position: relative;
}

.item {
	position: absolute;
}

.item.-f {
	z-index: 3;
	height: 550px;
	width: 400px;
}

.item.-s {
	z-index: 2;
	left: 60px;
	height: 500px;
	top: 25px;
}

.item.-t {
	z-index: 1;
	height: 450px;
	left: 100px;
	top: 50px;
}

.slider__controls {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 250px;
	left: 70px;
	bottom: -500px;
}

.control {
	transition: .2s;
	z-index: 4;
	width: 12px;
	height: 17px;
	border: 2px solid var(--c-white);
	border-radius: 50%;
	background-color: transparent;
}

.control:hover {
	transition: .2s;
	background-color: var(--c-white);
}

.slider__next {
	z-index: 4;
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid var(--c-white);
	border-left: 3px solid var(--c-white);
	transform: rotate(-135deg);
	top: 255px;
	right: 30px;
}

.slider__next:before {
	content: "";
	background-color: var(--c-white);
	width: 3px;
	height: 33px;
	position: absolute;
	transform: rotate(-45deg);
	right: 10px;
	bottom: -7px;
}
