.title {
	font-size: 80px;
	text-transform: uppercase;
	color: var(--c-white);
	font-family: 'Bebas Neue', cursive;
	margin-bottom: 0px;
}

.subtitle {
	font-size: 24px;
	color: var(--c-white);
	font-family: 'Open Sans', cursive;
	margin: 0;
}

.subtitle, .title {
	text-align: center;
}

.about__info {
	font-weight: lighter;
}

.about__span {
	font-weight: bolder;
}

h1 {
	margin: 0 auto;
}

.title.-about {
	margin-top: 10px;
}

.about__body {
	color: var(--c-white);
	font-family: 'Open Sans', cursive;
	font-size: 20px;
}

.title.-about {
	text-align: left;
}

.subtitle.-about {
	text-align: left;
}

.lang {
	text-transform: uppercase;
	color: var(--c-white);
	font-family: 'Open Sans', bold;
	position: relative;
}

.lang:before {
	content: "";
	width: 2px;
	height: 30px;
	background-color: var(--c-gray-light);
	position: absolute;
	left: 70px;
}

.lang:after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	border-bottom: 2px solid var(--c-white);
	border-left: 2px solid var(--c-white);
	transform: rotate(-45deg);
	left: 46px;
	top: 5px;
}

@media screen and (max-width: 767px) {
	.title {
		font-size: 50px;
	}

	.subtitle {
		font-size: 14px;
	}
}

@media screen and (max-width: 352px) {
	.title {
		font-size: 35px;
	}

	.subtitle {
		font-size: 12px;
	}
}