.title {
	font-size: 80px;
	text-transform: uppercase;
	color: var(--c-white);
	font-family: 'Bebas Neue', cursive;
	margin-bottom: 0px;
}

.subtitle {
	font-size: 24px;
	color: var(--c-white);
	font-family: 'Open Sans', cursive;
	margin: 0;
}

.subtitle, .title {
	text-align: center;
}

.subtitle.-system {
	text-transform: uppercase;
}

.title.-features, .subtitle.-features {
	text-align: left;
}

.about__info {
	font-weight: lighter;
}

.title.-sub {
	margin: 0;
}

.subtitle.-sub {
	text-transform: uppercase;
}

.sub__p {
	color: var(--c-white);
	font-family: 'Open Sans', cursive;
}

.about__span {
	font-weight: bolder;
}

h1 {
	margin: 0 auto;
}

.title.-about {
	margin-top: 10px;
}

.about__body {
	color: var(--c-white);
	font-family: 'Open Sans', cursive;
	font-size: 20px;
}

.title.-content {
	margin-top: 20px;
}

.content__p {
	color: var(--c-white);
	font-family: 'Open Sans', cursive;
}

.title.-about {
	text-align: left;
}

.subtitle.-about {
	text-align: left;
}

.subtitle.-features {
	text-transform: uppercase;
}

.title.-features {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}

.title.-system {
	margin-top: 20px;
	margin-bottom: 20px; 
}

.req__p {
	color: var(--c-white);
	font-family: 'Open Sans', bold;
}

.subtitle.-req {
	color: var(--c-yellow);
	text-transform: uppercase;
	text-align: left;
}

.lang {
	text-transform: uppercase;
	color: var(--c-white);
	font-family: 'Open Sans', bold;
	position: relative;
}

.features__list {
	color: var(--c-white);
}

.footer__p {
	color: var(--c-gray-light);
	margin: 0;
	padding: 20px 0 20px 0;
	font-family: 'Open Sans', cursive;
	display: flex;
	align-items: center;
}

.footer__p.-span {
	color: var(--c-white);
	font-family: 'Open Sans', cursive;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lang:before {
	content: "";
	width: 2px;
	height: 30px;
	background-color: var(--c-gray-light);
	position: absolute;
	left: 70px;
}

.lang:after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	border-bottom: 2px solid var(--c-white);
	border-left: 2px solid var(--c-white);
	transform: rotate(-45deg);
	left: 46px;
	top: 5px;
}

@media screen and (max-width: 1240px) {
	.subtitle.-sub {
		width: 100%;
	}
}

@media screen and (max-width: 1126px) {
	.title.-about {
		font-size: 60px;
	}
}

@media screen and (max-width: 940px) {
	.footer__p.-span {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.title {
		font-size: 50px;
	}

	.subtitle {
		font-size: 14px;
	}

	.subtitle.-about {
		font-size: 24px;
	}

	.title.-about {
		max-width: 300px;
	}

	.footer__p {
		width: calc(100% - 15px);
	}
}

@media screen and (max-width: 352px) {
	.title {
		font-size: 35px;
	}

	.subtitle {
		font-size: 12px;
	}

	.footer__span {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 630px) {
	.about__info {
		font-size: 25px;
	}
}

@media screen and (max-width: 597px) {
	.about__info {
		font-size: 26px;
	}
}

@media screen and (max-width: 416px) {
	.title.-features, .subtitle.-features {
		text-align: center;
	}
}